.clr {
  background-color: #F2FF19;
}

.u-section-1 .u-sheet-1 {
  min-height: 657px;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 60px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 486px;
}

.u-section-1 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 35px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 46px;
}

.u-section-1 .u-container-layout-2 {
  padding: 10px 30px 30px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 526px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 561px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 401px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 38px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 434px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 455px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 29px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 828px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-text-3 {
    width: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 44px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 498px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 636px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 28px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 314px;
  }
}
